<%= erb :'layouts/_header' %>
    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>This weekend...or next?</h1>
        <p>Never make ambiguous plans with your friends again.</p>
      </div>
    </div>
    <div class="container center">
      <div class="row">
        <div class="col-md-3 white-div">
          <h2 class="center">Today</h2>
          <h4><%= weekend.format %></h4>
        </div>
        <div class="col-md-4 white-div">
          <h2 class="center">This Weekend</h2>
          <h4><%= weekend.this_weekend %></h4>
        </div>
        <div class="col-md-4 white-div">
          <h2 class="center">Next Weekend</h2>
          <h4><%= weekend.next_weekend %></h4>
        </div>
      </div>
<%= erb :'layouts/_footer' %>