<%= erb :'layouts/_header' %>
    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>This weekend...or next?</h1>
        <p>Never make ambiguous plans with your friends again.</p>
      </div>
    </div>

    <div class="container center">
      <div class="row">
        <div class="col-md-12 white-div">
          <h2 class="center">Select timezone</h2>
          <form action='/' method='post'>
            <select name="timezone" class="form-control" id="select-timezone">
              <% timezone_list.each do |timezone| %>
                <option value="<%= timezone %>" <%= timezone == current_timezone ? 'selected' : ''%>><%= timezone %></option>
              <% end %>
            </select>
            <input type='submit' class="btn" id="submit-timezone">
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 white-div">
          <h2 class="center">Today</h2>
          <h4><%= weekend.today %></h4>
        </div>
        <div class="col-md-4 white-div">
          <h2 class="center">This Weekend</h2>
          <h4><%= weekend.this_weekend %></h4>
        </div>
        <div class="col-md-4 white-div">
          <h2 class="center">Next Weekend</h2>
          <h4><%= weekend.next_weekend %></h4>
        </div>
      </div>
<%= erb :'layouts/_footer' %>
